@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BookStore.Entities.Book
    <div class="container">


        <section class="first">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-uppercase text-center">Delete</h1>
                    <h3>Are you sure you want to delete this?</h3>
                    <h3>Book</h3>
                </div>
            </div>
        </section>
        <hr />
        <section>
            <div class="container">
                <div class="row">
                    <table>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <td>@Html.DisplayFor(model => model.Title)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AuthorName)</th>
                            <td>@Html.DisplayFor(model => model.AuthorName) </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.YearOfIssue)</th>
                            <td>@Html.DisplayFor(model => model.YearOfIssue) </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NumberOfPages)</th>
                            <td>@Html.DisplayFor(model => model.NumberOfPages)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PublisherName)</th>
                            <td>@Html.DisplayFor(model => model.PublisherName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.UserId)</th>
                            <td>@Html.DisplayFor(model => model.UserId)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Gener)</th>
                            <td>@Html.DisplayFor(model => model.Gener)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                            <td>@Html.DisplayFor(model => model.CategoryName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Price)</th>
                            <td>@Html.DisplayFor(model => model.Price)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.BookType)</th>
                            <td>@Html.DisplayFor(model => model.BookType)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.BookCoverType)</th>
                            <td>@Html.DisplayFor(model => model.BookCoverType)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CategoryID)</th>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Language)</th>
                            <td>@Html.DisplayFor(model => model.Language)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Country)</th>
                            <td>@Html.DisplayFor(model => model.Country)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Edition)</th>
                            <td>@Html.DisplayFor(model => model.Edition)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Dimensions)</th>
                            <td>@Html.DisplayFor(model => model.Dimensions)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Weight)</th>
                            <td>@Html.DisplayFor(model => model.Weight)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Copies)</th>
                            <td>@Html.DisplayFor(model => model.Copies)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Shipping)</th>
                            <td>@Html.DisplayFor(model => model.Shipping)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PhotoURL)</th>
                            <td>@Html.DisplayFor(model => model.PhotoURL)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.SoldItems)</th>
                            <td>@Html.DisplayFor(model => model.SoldItems)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Rating)</th>
                            <td>@Html.DisplayFor(model => model.Rating)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                            <td>@Html.DisplayFor(model => model.DateAdded)</td>
                        </tr>
                    </table>
                </div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                    <a asp-action="Index" href="#">Back to List</a>
                </form>
                @*<div class="pt-3">
                        <a href="#" style=" margin-left: -15px; color:white" class="btn btn-danger">Delete</a>
                        <a asp-action="Index"> | Back to List</a>
                    </div>*@
            </div>
        </section>
    </div>
